.subtcancionero{
    background-image: url(../imagenes/fondo1.jpg);  
    text-align: center;
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    padding: 0.75rem;
}

.imgbanda{
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}