.subtcancionero{
    background-image: url(../imagenes/fondo1.jpg);  
    text-align: center;
    font-size: 18px;
    color: $colorFuente;
    font-weight: bold;
    padding: 0.75rem;
}

.superiorcancionero{
    padding-top: 10px;
    background: rgb(69,78,78);
background: radial-gradient(circle, rgb(29, 31, 31) 0%, rgba(0,0,0,1) 100%);
text-align: center;

}
.titulocan{
    font-size: 25px;
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: $colorFuente;

}

.subtcan{
    color: $colorFuente;
    font-size: 20px;
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
padding-bottom: 1rem; 
}

.seccioncancionero{
    background-image: url(/imagenes/fondo1.jpg);
}