.form1{
    grid-area: form1;
    }

    .form2{
        grid-area: form2;
        }

    .form3{
        grid-area: form3;
    }

    .subtgaleria{
        background-color: rgb(19, 18, 18);
        color: beige;
        text-align: center;
        font-size: 20px;
        padding-bottom: 1rem;
        font-family: 'Times New Roman', Times, serif;
        }

       
        .seccionfotos {
            background: #454e4e;
            background: radial-gradient(circle, #1d1f1f 0%, black 100%);
            border: 1.6px solid rgb(161, 161, 161); }
          
          .seccion1gal {
            background: rgb(38,42,42);
          background: linear-gradient(0deg, rgb(134, 134, 134) 0%, rgba(0,0,0,1) 100%);
            text-align: center;
            color: aliceblue;
            font-family: 'Times New Roman', Times, serif;   
        }

        .seccion1gal_text{
            font-size: 30px;
            padding-top: 1rem;
        }

        .seccion1gal_text2{
            font-size: 25px;
            padding-bottom: 0.7rem;
            padding-top: 1rem;
        }

        .carousel-item img{
            height: 500px;
            width: 250px;
            object-fit: cover;
            padding: 1rem;
            padding-top: 0;
            
        }
        

        .titulogaleria{
            background: rgb(44,68,3);
background: linear-gradient(45deg, rgb(68, 67, 3) 51%, rgb(180, 152, 26) 100%);
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            color: azure;
            text-align: center;
        }

        .galeriacmn{
            background: rgb(44,68,3);
background: linear-gradient(45deg, rgb(68, 67, 3) 51%, rgb(180, 152, 26) 100%);
            color: aliceblue;
            text-align: center;

        }

        .subtitulogaleria{
            background: rgb(44,68,3);
background: linear-gradient(45deg, rgb(68, 67, 3) 51%, rgb(180, 152, 26) 100%);
            color: azure;
            padding-bottom: 1rem;
            text-align: center;
        }