/* incorporaciones */
 
.titulo{
    font-size: 25px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    background: rgb(45, 48, 48);
background: radial-gradient(circle, rgb(20, 20, 20) 0%, rgba(0,0,0,1) 100%);
color: $colorFuente;
    padding: 1rem;
    margin-bottom: 0rem;
}

.subtitulo{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $colorFuente;
    text-transform: uppercase;
    padding-left: 1.5rem;
    text-decoration: none;
    
    
}

.enlacesinco{
    
    padding: 1rem;
    list-style: none;
    text-align: start;
}
.enlacesinco_1 a{
    font-size: 18px;
    color: $colorFuente;
    text-decoration: none;
    padding: 0rem;
    text-align: left;
}
.enlaces-bootstrap{
    background: rgb(44,68,3);
background: linear-gradient(45deg, rgb(68, 67, 3) 51%, rgb(180, 152, 26) 100%);
padding-top: 0rem;


}

.subtitulo2{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $colorFuente;
    padding: 1.5rem;
    
}
.preguntas{
    background: rgb(44,68,3);
background: linear-gradient(45deg, rgb(68, 67, 3) 51%, rgb(180, 152, 26) 100%);
    font-size: 22px;
    color: $colorFuente;
    padding: 1rem;
    }

    .preguntas p{
        font-size: 20px;
        
    }
    .preguntas h2{
        font-size: 28px;
        font-weight: 550;
        padding-bottom: 1rem;
        
    }

    .infoutil{
        background-color: rgb(19, 19, 19);
        padding: 1rem;
        color: $colorFuente;
        list-style-type: none;
        display: grid;
        grid-template-areas: 
        "form1 form2 fomr3"
        ;
        grid-template-columns:repeat(2, 1fr);
        justify-items: center;
        align-items: center;     
    }
    .botoncito1{
        margin-left: 35rem;
        margin-top: 25px;
    }

    .botoncito{
        margin-left: 20rem;
        margin-top: 1px;
    }